.header {
    height: 50px;
    flex: 0 0 50px;
    background-color: var(--color-light-m);
}
.headerContainer {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconContainer {
    width: 30px;
    height: 30px;
    padding: 3px;
    border: 1px solid var(--color-dark-s);
    border-radius: 50%;
    cursor: pointer;
}
.iconContainer:hover {
    background-color: var(--color-dark-m);
}
.iconContainer:hover .icon {
    fill: var(--color-light-s);
}
.icon {
    width: 100%;
    height: 100%;
    fill: var(--color-dark-s);
}